[target.thumbv6m-none-eabi]
runner = "elf2uf2-rs -d"

rustflags = [
  "-C",
  "link-arg=--nmagic",
  "-C",
  "link-arg=-Tlink.x",
  "-C",
  "link-arg=-Tdefmt.x",
]

[build]
target = "thumbv6m-none-eabi"
